.articles {
    background-image: url(../images/bg-service-right.svg), url(../images/article-right.svg);
    background-position: 15% center, right center;
    background-repeat: no-repeat;
    padding-bottom: 6.25rem;
}