:root {
    --bg-light: hsl(0,0%,100%);
    --color-light: hsl(270,7%,57%);
    --color-dark: hsl(259,42%,14%);
}

$font-xl : toRem(48);
$font-lg : toRem(36);
$font-md : toRem(18);

$color-dark: hsl(259,42%,14%);
$color-white : hsl(0,0%,100%);
$color-light: hsl(270,7%,57%);
$color-blue : hsl(215, 91%, 62%);